.portfolio {

    &__filter-list {
        @extend %list;
        @include flexed (center, center);
        margin-bottom: 50px;
    }

    &__filter-item:not(:last-child) {
        margin-right: 8px;
    }

    &__filter-btn {
        color: $title-color;
        background-color: $secondary-bcg;
        border-radius: 4px;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.62;
        letter-spacing: 0.03em;
        border: none;
        padding: 6px 22px;
    
        transition:
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
            
        &:hover,
        &:focus {
            color: $white-color;
            background-color: $accent-color;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            cursor: pointer;
        }
    }

    &__cards-list {
        @extend %list;
        @include flexed (flex-start, space-between);
        flex-wrap: wrap;
    }

    &__cards-item {
        margin-right: 30px;
        margin-bottom: 30px;
        width: 370px;
        height: auto;

        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:nth-child(3n) {
            margin-right: 0;
        }

        &:nth-last-child(-n + 3) {
            margin-bottom: 0;
        }
    }

    &__cards-link {
        @extend %link;
        display: block;

        &:hover,
        &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }
    }

    &__cards-overlay {
        position: absolute;
        top: 0;
        left: 0;
    
        padding: 63px 24px;
        background: $overlay-bcg;
        width: 100%;
        height: 100%;
        background-color: $overlay-bcg;
    
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        .portfolio__cards-link:hover & {
            position: absolute;
            transform: translateY(0);
        }
    }
    
    &__cards-description {
        font-size: 18px;
        line-height: 1.56;
        color: $white-color;
    }

    &__cards-content {
        padding: 20px 24px;
        border: 1px solid $cards-line;
        border-top: none;
    }

    &__cards-title {
        color: $title-color;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    }

    &__cards-text {
        color: $main-color;
        line-height: 1.88;
        font-size: 16px;
    }
}
